@import "../../../../../index.scss";

.Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 470px;
  margin-left: 120px;

  @include respond(page-home) {
    //background-color: saddlebrown;
    margin-left: 80px;
  }

  @include respond(phone) {
    margin-left: 30px;
    width: 90%;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;

  @include respond(phone) {
    flex-direction: column;
    align-items: flex-start;
  }

  span,
  button {
    margin-right: 25px;
  }

  &__name {
    cursor: pointer;
    font-size: 18px;

    @include respond(phone) {
      font-size: 20px;
    }
  }

  &__btnGroup {
    @include respond(phone) {
      margin-top: 15px;
    }
  }

  &__button {
    cursor: pointer;
    background-color: #efefef;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 550;
    padding: 7.5px 13px;

    @include respond(phone) {
      padding: 7.5px 20px;
    }

    &--editbtn {
      margin-right: 7px !important;
    }

    &:hover {
      background-color: #dadada;
    }
  }

  &__svg {
    cursor: pointer;
    @include respond(phone) {
      position: absolute;
      left: 50%;
    }

    &--Threads {
      @include respond(phone) {
        //display: none;
      }
    }

    &--Options {
      @include respond(phone) {
        display: none;
      }
    }
  }
}

.main {
  margin-top: 25px;
  display: flex;
  align-items: center;

  @include respond(phone) {
    display: none;
  }

  &__details {
    margin-right: 40px;
    font-size: 15.5px;
  }

  &__number {
    font-weight: 550;
  }

  &__posts {
  }

  &__followers {
  }

  &__following {
  }
}

.footer {
  margin-top: 20px;

  &__name {
    font-size: 15px;
    font-weight: 550;

    @include respond(phone) {
      position: absolute;
      left: 20px;
      margin-top: 5px;
    }
  }
}
