@import "../../../index.scss";

.MessageList {
  width: 390px;
  height: 98vh;
  border-right: 0.5px solid #dfdfdf;
  z-index: 1;

  @include respond(tab-port) {
    left: 0;
    width: 123px;

    // ::-webkit-scrollbar {
    //   display: none; /* Safari and Chrome */
    // }

    // /* For Firefox */
    // * {
    //   scrollbar-width: none;
    // }
  }

  &__header {
    height: 107px;
    width: 100%;
    padding-top: 30px;

    @include respond(tab-port) {
      height: 80px;
      padding-top: 10px;
    }

    &--one {
      display: flex;
      width: 90%;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto 20px auto;
      font-weight: bolder;

      @include respond(tab-port) {
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      p {
        cursor: pointer;
        font-size: 23px;
        font-weight: 600;

        @include respond(tab-port) {
          display: none;
        }
      }

      svg {
        cursor: pointer;
      }
    }

    &--two {
      display: flex;
      width: 90%;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto 30px auto;

      @include respond(tab-port) {
        display: none;
      }

      p {
        cursor: pointer;
        font-size: 16px;
        font-weight: 550;
      }
    }
  }

  &__list {
    margin-top: 10px;
    width: 100.1%; //to hide the gray border
    height: 85%;
    overflow-y: scroll;

    @include respond(phone) {
      margin-top: 0px;
      padding-left: 0px;
      padding-bottom: 10px;
    }
  }
}
