.More {
  font-size: 1.45rem;
  display: flex;
  //justify-content: space-between;
  position: absolute;
  top: -7rem;
  background-color: black;
  min-width: 14rem;
  font-weight: 550;
  padding: 1rem;
  border-radius: 0.5rem;
  transform: translate(-50%, 50%);
  z-index: 10;
  color: white !important;

  span {
    cursor: pointer;
    &:not(:last-of-type){
      margin-right: 1rem;
    }
  }

  div {
    position: absolute;
    z-index: -1; /* Set a negative z-index for the triangle */
    //right: 2rem;
    bottom: 1.3rem;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 4rem solid black;
    //transform: translate(50%, 50%) rotate(270deg) rotateX(180deg);
  }
}
