.reels {
  position: relative;
  height: 100%;
  width: 100%;

  &__reel {
    position: absolute;
    left: 50%;
    height: 639px;
    width: 356px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }
}

#reel1 {
  display: none;
  background-color: darkcyan;
}

#reel2 {
  top: 50%;
  background-color: pink;
}

#reel10 {
  top: 142%;
  background-color: lightgreen;
}

#reel4 {
  display: none;
  background-color: cyan;
}