@import "../../../../index.scss";

.AtBtn {
  height: 40px;
  width: 100%;
  //background-color: sandybrown;
  display: grid;
  padding: 6px;
  padding-left: 0;
  grid-template-columns: 0.5fr 0.5fr 4fr 0.5fr;

  &__btn {
    svg {
      cursor: pointer;
      &:hover {
        color: rgb(160, 147, 147);
      }
    }
  }

  &__Like {
    @include respond(phone) {
      margin-right: 7px;
    }
  }

  &__Comment {
    @include respond(phone) {
      margin-right: 7px;
    }
  }

  &__Share {
    @include respond(phone) {
      margin-right: 7px;
    }
  }

  &__Save {
    padding-left: 20px;
  }
}
