@import "../../../index.scss";

.Stories {
  margin-top: 40px;
  width: 100%;
  padding-left: 40px;

  @include respond(phone) {
    margin-top: 50px;
    padding-left: 0px;
  }
}

.Story {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95px;

  &__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    border: 2px solid rgb(234, 234, 234);
    padding: 3px;
    height: 90px;
    width: 90px;

    @include respond(phone) {
      height: 60px;
      width: 60px;
    }

    &::after {
      content: ""; /* Add this line */
      background-color: rgb(250, 246, 246);
      height: 100%;
      width: 100%;
      border-radius: 100%;
    }

    &--image {
      position: absolute;
      left: 50%;
      font-size: 80px;
      font-weight: 100;
      top: 50%;
      transform: translate(-50%, -59%);
      color: gainsboro;

      @include respond(phone) {
        font-size: 40px;
      }
    }
  }

  &__name {
    margin-top: 7px;
    font-size: 13px;
  }
}
