@import "../../../index.scss";
.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 5px;
  z-index: 50;
  bottom: -10px;
  left: 40px;
  height: 390px;
  width: 343px;
  background-color: var(--white-color);
  color: var(--black-color);
  box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.1);

  @include respond(tab-land) {
    left: -370px;
  }

  @include respond(phone) {
    left: -387px;
  }

  &:hover {
    color: var(--black-color);
  }
}

.headerCmt {
  display: flex;
  font-size: 15px;
  padding: 17px 20px;

  &__text {
    font-weight: bold;
    margin: 0 auto;
  }
}

.comments {
  overflow-y: scroll;
  scrollbar-width: thin;
  padding-left: 23px;
  width: 100%;
  height: 287px;
}

.header {
  position: relative;
  height: 44px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 6fr 1fr;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 21px;
  }

  &__profile {
    margin-bottom: 10px;
    margin-right: 5px;
    cursor: pointer;
    place-self: center;
    position: relative;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: relative;
      z-index: 10;
      width: 83%;
      height: 83%;
      object-fit: cover;
      border-radius: 100%;
      object-position: center;
    }
  }

  &__info {
    padding-top: 7px;
    width: 100%;
    font-size: 13.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &--name {
      cursor: pointer;
      font-weight: 550;
      margin-bottom: 3px;
    }

    &--details {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      font-size: 12.5px;
      font-weight: 400;
      color: #8e8e8e;
      //width: 65%;

      // @include respond(tab-port) {
      //   width: 170px;
      // }

      span {
        cursor: pointer;
        margin-right: 5px;
      }

      &--time {
      }

      &--like {
        font-weight: 550;
      }

      &--reply {
        font-weight: 550;
      }

      &--more {
        svg {
          font-size: 1px;
          height: 17px;
        }
      }
    }

    &--comment {
      display: flex;
      cursor: pointer;
      font-size: 13.5px;
      font-weight: 500;
      width: 230px;
      min-height: 20px;
    }
  }

  &__like {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
      height: 15px;
    }
  }
}
.addcmt {
  width: 100%;
  height: 47px;
}


.AddComment {
  display: flex;
  width: 95%;
  padding: 0 10px;
  margin: 0 auto;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 150px;

  &__txtarea {
    width: 87%;
    height: 100%;
    background-color: transparent;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;

    font-family: inherit;
    font-size: 14.5px;
    max-height: 40px;
    padding: 9.5px 0;

    &::placeholder {
      color: #959595;
    }
  }

  &__react {
    width: 13%;
    padding-right: 7px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &--Post {
      cursor: pointer;
      font-size: 13px;
      color: rgb(64, 133, 218);
      font-weight: 600;
      padding-bottom: 3.5px;
    }

    &--emoji {
      position: relative;
      cursor: pointer;
      margin-left: 10px;
      svg {
        transform: scale(1.9);
        fill: rgb(145, 145, 145);
      }
    }
  }
}

.circle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #d616c9, #ffc806) border-box;
  border: 2px solid transparent;
}
