.cmtModal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 63rem;
  width: 115rem;
  background-color: var(--white-color);
  z-index: 176;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;

  &__image {
    height: 100%;
    width: 55%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__comments {
    height: 100%;
    width: 45%;
    padding: 5px;
  }

  &__section {
    height: 69%;
    width: 100%;
    //background-color: whitesmoke;

    &--info {
      width: 100%;
      padding-left: 9px;
    }
  }
}

.likes {
  font-size: 14.5px;
  font-weight: 550;
}

.time {
  margin-top: 3px;
  margin-bottom: 9px;
  font-size: 12px;
  color: rgb(169, 159, 159);
}

.linebreakLight {
  border-bottom: 2px solid var(--linebreak-color);
  margin: 4px 0;
}

.addcomment {
  width: 100%;
  height: 40px;
}