.profilePage {
    position: relative;
    min-height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    color: var(--black-color);
}