.Stories {
  overflow: hidden;
  padding-top: 27px;
  min-width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 35px;
  overflow-x: scroll;
  background-color: var(--white-color);

  &::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}