.firstPart {
  display: flex;
  width: 100%;
}

.secondPart {
  padding-top: 13px;
  color: #22a6ff;

  &__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 12.25px;
    color: inherit;

    &:hover {
      color: #114c72;
    }
  }
}

.userInfo {
  position: relative;
  height: 45px;
  width: 100%;

  display: flex;
  justify-content: space-between;

  &__img {
    cursor: pointer;
    border-radius: 100%;
    width: 43px;
    height: 95%;
    margin: auto 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
      object-position: center;
      z-index: 10;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0 3px 10px;
    height: auto;
    width: 70%;
    
    &--main {
      cursor: pointer;
      font-weight: 550;  
      font-size: 14px;
    }

    &--sub {
      font-size: 12px;
      color: #a1a1a1;
    }
  }
}

.dialog {
  position: absolute;
  z-index: 500;
  left: -25%;
  top: 40px;
  height: 319px;
  width: 370px;
  border: 1px solid white;
  border-radius: 7px;
  box-shadow: 2rem 2rem 5rem rgba(0,0,0,.1);
}