@import "../../../index.scss";
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profileInfo {
  display: none;
  margin-top: 20px;
  border-top: 1px solid var(--linebreak-color);
  //display: flex;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  font-size: 13.5px;

  @include respond(phone) {
    display: flex;
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--number {
      cursor: pointer;
      font-weight: 550;
    }

    &--text {
      cursor: pointer;
      color: #6b6b6b;
    }
  }
}