@import "../../../index.scss";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 175;
  overflow: hidden;
  background-color: rgba(black, 1);
  //background-color: whitesmoke;
}

.logo {
  position: absolute;
  top: 5%;
  left: 3%;
  color: white;
  //transform: translate(-50%, -50%);
}

.close {
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 5%;
  color: white;
  //transform: translate(-50%, -50%);
} 

.story3 {
  display: none;
  left: 50%;
  top: 50%;
  position: absolute;
  //height: 681px;
  height: 89%;
  width: 384px;
  //background-color: chartreuse;
  transform: translate(-50%, -50%);
}

.story2 {
  display: none;
  left: 50% - 25%; //22
  top: 50%;
  position: absolute;
  //height: 273.44px;
  height: 40%;
  width: 154.15px;
  transform: translate(-50%, -50%);
}

.story1 {
  display: none;
  left: (50% - 25%) - 15%; //10%
  top: 50%;
  position: absolute;
  height: 40%;
  width: 154.15px;
  transform: translate(-50%, -50%);

}

.story4 {
  display: none;
  left: 50% + 25%; //10%
  top: 50%;
  position: absolute;
  height: 40%;
  width: 154.15px;
  transform: translate(-50%, -50%);
}

.story5 {
  display: none;
  left: 50% + 25% + 15%;
  top: 50%;
  position: absolute;
  height: 40%;
  width: 154.15px;
  transform: translate(-50%, -50%);

}

.story6 {
  display: none;
  left: 110%;
  top: 50%;
  position: absolute;
  height: 40%;
  width: 154.15px;
  transform: translate(-50%, -50%);
}

.st {
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}

.story__img {
  overflow: hidden;
  width: 110%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;

  }
}

.btn {
  cursor: pointer;
  position: absolute;
  background-color: #636363;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transform: translate(-50%, -50%);
  z-index: 20;
  transition: all .2s;
  &:hover {
    background-color: white;
  }
}

.btnR {
  top: 50%;
  left: 35.5%;
  
  @include respond(tab-land) {
    left: 27%;
  }
  @include respond(tab-port) {
    left: 4.5%;
  }
}

.btnL {
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(180deg);

  @include respond(tab-land) {
    left: 72%;
  }
  @include respond(tab-port) {
    left: 95.5%;
  }
}