@import "../../index.scss";

.list {
  //border: 1px solid red;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 33px;

  &__item {
    position: relative;
    cursor: pointer;
    margin-left: 11px;
    margin-right: 11px;
    padding-left: 11px;
    height: 48px;
    border-radius: 9px;

    background-color: var(--white-color);
    color: var(--black-color);
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--hoverli-color);
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__svg {
    margin-right: 15px;
    //stroke: var(--black-color);
  }

  &__svgSelected {
    display: none;
    margin-right: 15px;
  }

  &__text {
    font-size: 16px;

    @include respond(tab-port) {
      // width < 1200?
      //display: none;
    }
  }

  &__img {
    width: 25px;
    margin-right: 15px;
  }
}

.NavLink {
  color: inherit;
  text-decoration: inherit;
  display: flex;
  align-items: center;
}
